* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

.about-me-des h1{
  color: #de3e33;
  text-align:center;
  margin-top: 5px;
  padding: 20px;
  font-family: 'DM Mono', monospace;
  font-size: 40px;
  line-height: 5px;
}

.about-me-des {
  background-image: url('about-me.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.fa-android::before{
  font-size: 500px;
text-align: center;
padding: 240px;
}

.about-me-text p,.verdantU h1{
  color: #5f5f64;
  text-align:center;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  margin-top: 5px;
  padding: 30px;
  line-height: 30px;
  margin: 14px;
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: justify;
  text-justify: inter-word;
}

.image-section{
  text-align: center;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-section img{
 max-width:100%;
 max-height:100%;
 border-radius: 50%;
}
  .home,
  .projects,
  .hire-me {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .projects {
    /* background-image: url('./images/img-1.jpg'); */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .slides{
    object-fit: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
  }

  .hire-me {
    /* background-image: url('./images/img-8.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
